* {
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
#wrap {
  width: 100vw;
  height: 100%;
  background: radial-gradient(
      circle at top left,
      hsla(var(--hue1), 80%, 30%, 0.2),
      transparent 20%
    ),
    radial-gradient(
      circle at top right,
      hsla(var(--hue2), 90%, 80%, 0.5),
      transparent 28%
    ),
    radial-gradient(
      at bottom left,
      hsla(var(--hue3), 90%, 80%, 0.5),
      transparent 40%
    ),
    radial-gradient(
      at bottom right,
      hsla(var(--hue4), 80%, 80%, 0.3),
      transparent 40%
    );
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  margin: 0px;
  padding: 0px;
  --hue1: 176;
  --hue2: 341;
  --hue3: 250;
  --hue4: 90;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
a {
  cursor: pointer;
}

/*--------------- nav ---------------*/

nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter:opacity(80%); ;
  padding: 15px 20px;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(254, 132, 203, 0.1);
}
nav .gnb {
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  justify-content: flex-end;
}

nav li {
  list-style: none;
  margin-left: 60px;
}
nav li a {
  color: #151515;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  position: relative;
}
nav li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff4f8c;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: left;
}

nav ul li.active a:before,
nav ul li.active a:after,
nav ul li a:hover:before,
nav ul li a:hover:after {
  transform: scaleX(1);
}

nav ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff4f8c;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: right;
}

/*nav style*/
.home {
  background: linear-gradient(to bottom right, #ff9587, #ff4f8c);
  border-radius: 50px;
  width: 100px;
  height: 30px;
  color: #fff;
}

.home:hover {
  background: linear-gradient(to bottom right, #ff4f8c, #ff9587);
}

.logo {
  color: #d32e72;
  width: 90px;
  top: 5px;
  display: block;
  position: absolute;
}
.logo img {
  width: 80%;
}
/* container */

.container {
  max-width: 1589px;
  margin: 0 auto;
  width: 100%;
}

/* section */

.portfolio {
  display: flex;
}

/*///////////////////////home//////////////////////////*/
#section1 {
  position: relative;
  width: 1600px;
  margin: auto;
  height: 800px;
  display: flex;
}
#section1::before {
  content: "";
  position: absolute;
  background: url(../images/bg_backtypo.png) no-repeat;
  width: 100%;
  height: 100%;
}

#section1 .right {
  position: absolute;
  top: 60px;
  right: -260px;
  height: 680px;
  display: flex;
  justify-content: end;
}
#section1 .right img {
  height: 130%;
}
#section1 .left {
  position: absolute;
  top: 120px;
}
#section1 span.back {
  display: block;
  position: absolute;
  z-index: -5;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febfd1+0,ff5c5c+100&1+0,1+2,0+100 */
  background: -moz-linear-gradient(
    left,
    rgb(252, 201, 215) 0%,
    rgb(253, 208, 221) 2%,
    rgba(255, 92, 92, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgb(255, 255, 255) 0%,
    rgba(254, 189, 207, 1) 2%,
    rgba(255, 92, 92, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(254, 191, 209, 1) 0%,
    rgba(254, 189, 207, 1) 2%,
    rgba(255, 92, 92, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febfd1', endColorstr='#00ff5c5c',GradientType=1 ); /* IE6-9 */

  width: 300px;
  height: 130px;
  border-radius: 130px;
  top: 400px;
  right: 60%;
  animation: move 2s linear infinite;
  transition: all 0.1s;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(0px);
  }
}

#section1 span.back2 {
  display: block;
  width: 300px;
  height: 130px;
  z-index: -5;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,fff7dc+100&0+0,1+100 */
  background: -moz-linear-gradient(
    left,
    rgba(254, 252, 234, 0) 0%,
    rgb(251, 239, 203) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(254, 252, 234, 0) 0%,
    rgba(255, 247, 220, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(254, 252, 234, 0) 0%,
    rgb(255 250 195) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fefcea', endColorstr='#fff7dc',GradientType=1 ); /* IE6-9 */

  position: absolute;
  top: 200px;
  right: 28%;
  border-radius: 100px;
  animation: move2 2s linear infinite;
  transition: all 0.1s;
}
@keyframes move2 {
  0% {
    transform: translateX(-80px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-80px);
  }
}

.secondary_color {
  color: #ff4f8c;
}
.title_color {
  color: #050a45;
}
h2 {
  font-size: 44px;
  margin-top: 50px;
  line-height: 4.5rem;
  letter-spacing: 2.6px;
}
.name {
  color: #ff4f8c;
  background-color: #fff;
  padding: 18px 40px;
  border-radius: 100px;
  margin: 0 20px;
  box-shadow: 5px 5px 5px rgba(254, 132, 203, 0.2);
  font-size: 40px;
}
.left {
  color: #050a45;
}
#section1 .left p {
  margin: 30px 0 200px 0;
}
.left p span {
  font-weight: bold;
  font-size: 1.5rem;
}
.left a.btn {
  background-color: #fff;
  color: #ff4f8c;
  text-decoration: none;
  padding: 10px 59px;
  border-radius: 50px;
  margin: 50px 0 0 0;
  box-shadow: 5px 5px 5px rgba(254, 132, 203, 0.2);
}

/*///////////////////////about//////////////////////////*/
#section2 {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}
#section2::before {
  background: url(../images/aboutbg.png);
  height: 120%;
}
#section2 .about_wrap {
  width: 100%;
  height: 610px;
  background-color: #fff;
  display: flex;
  position: relative;
  margin: auto;
}

#section2 .img {
  position: relative;
  top: -200px;
  left: 20%;
}
#section2 .img img {
  width: 28%;
}
#section2 .about_info {
  position: relative;
  margin: 93px 0 0 0;
  left: 55%;
  top: -700px;
}
.about_info span.sub_title {
  font-size: 25px;
  color: #d32e72;
}
.about_info .k_name {
  font-size: 2.5em;
  font-weight: bold;
  color: #010101;
  margin-top: 30px;
}
.about_info .e_name {
  color: #b3b2b2;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}
.phone_number span {
  color: #fa91b6;
}
.phone_number,
.birsdsy,
.mymail {
  margin-top: 9px;
  color: #333333;
  letter-spacing: 4.48px;
}
.info {
  color: #050a45;
  font-weight: 500;
  margin: 30px 0 50px 0;
}
.about_info a {
  text-decoration: none;
  background: linear-gradient(to bottom right, #ff9587, #ff4f8c);
  color: #fff;
  padding: 20px 54px;
  border-radius: 100px;
  font-size: 18px;
  margin-right: 30px;
  box-shadow: 5px 5px 5px rgba(254, 132, 203, 0.2);
  transition: all 1s;
}
.about_info a:hover {
  background: linear-gradient(to bottom right, #ff4f8c, #ff9587);
}

/*------ resume_wrap -------- */

#section2 .resume_wrap {
  width: 100%;
  height: 643px;
}
.resume_wrap .resume_boxwrap {
  position: relative;
  width: 1365px;
  margin: auto;
}
.resume_wrap h3 {
  text-align: center;
  margin: 120px 0 36px 0;
  color: #050a45;
}
.resume_wrap h3 span {
  font-weight: lighter;
  font-size: 24px;
  color: #ff9bb9;
}
.resume_boxwrap .resume_box {
  padding: 20px 30px;
  margin: 50px;
  width: 500px;
  height: 220px;
  position: relative;
  border-radius: 30px;
  background: #fff;
  box-shadow: 21px 21px 42px rgba(0, 0, 0, 0.1);
}
.resume_box .re_tit {
  color: #643a78;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  left: 50px;
  top: 50px;
}
.resume_box span.day {
  font-weight: 900;
  color: #643a78;
}
.ceritficate {
  border-bottom: 2px solid #643a78;
}
.career {
  border-bottom: 2px solid #643a78;
}
.award {
  border-bottom: 2px solid #643a78;
}
.education {
  border-bottom: 2px solid #643a78;
}
.resume_box p {
  position: absolute;
  right: 80px;
  top: 20px;
  line-height: 28px;
}

/*------ skill_wrap -------- */

#section2 .skill_wrap {
  position: relative;
  top: 280px;
  width: 1200px;
  margin: auto;
  text-align: center;
}
.myskill-wrap {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}
.coding_skill {
  display: flex;
}
.design_skill {
  display: flex;
}
#section2 .skill_wrap h3 {
  color: #050a45;
}
.s_box {
  background: linear-gradient(145deg, #f1f1f1, #ffffff);
  width: 130px;
  height: 130px;
  line-height: 130px;
  margin: 20px;
  border-radius: 15px 50px;
  box-shadow: 25px 12px 50px #e7e7e7, -25px -25px 50px #ffffff;
  color: #d32e72;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.s_box::before {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: url(../images/skill_sub.png) no-repeat;
}
.css .css1 {
  letter-spacing: -1px;
}
.skill_info {
  color: #ff9bb9;
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 50px;
  z-index: 99999;
}

/*------ project_navwrap -------- */
/*/pj_img1/*/
.project_navwrap {
  position: relative;
  top: 390px;
  width: 1212px;
  margin: auto;
  margin-bottom: 100px;
}
.project_navwrap h3 span {
  font-size: 24px;
  font-weight: 100;
  color: #ff9bb9;
}
.project_navwrap h3 {
  font-size: 36px;
  color: #050a45;
  text-align: center;
}

.pj_navgation {
  display: flex;
  justify-content: space-between;
}
.pj_navgation .pj_nav .pj_img1 {
  width: 349px;
  height: 169px;
  background-color: #fceee2;
  position: relative;
  top: 0;
  border-radius: 5px 30px 5px 30px;
  box-shadow: 5px 6px 5px #fbe4cf;
  margin: 20px 0 20px 0;
}
#section2 .pj_navgation .pj_nav img {
  position: absolute;
  top: 13px;
  left: 10px;
}
.pj_subject {
  color: #6f707c;
  font-size: 20px;
  margin-bottom: 30px;
}
.pj_subject span {
  color: #050a45;
}
.pj_view a {
  color: #050a45;
  width: 160px;
  height: 55px;
  border-radius: 50px;
  border: 2px solid #050a45;
  text-decoration: none;
  padding: 10px 40px;
}
/*/pj_img2/*/
.pj_navgation .pj_nav .pj_img2 {
  width: 349px;
  height: 169px;
  background-color: #fceee2;
  position: relative;
  top: 0;
  border-radius: 5px 30px 5px 30px;
  box-shadow: 5px 6px 5px #fbe4cf;
  margin: 20px 0px 20px 20px;
}
#section2 .pj_navgation .pj_nav img {
  position: absolute;
  top: 13px;
  left: 10px;
}
/*/pj_img3/*/
.pj_navgation .pj_nav .pj_img3 {
  width: 349px;
  height: 169px;
  background-color: #fceee2;
  position: relative;
  top: 0;
  border-radius: 5px 30px 5px 30px;
  box-shadow: 5px 6px 5px #fbe4cf;
  margin: 20px 0px 20px 20px;
}
#section2 .pj_navgation .pj_nav img {
  position: absolute;
  top: 13px;
  left: 10px;
}

/*///////////////////////project//////////////////////////*/
.project_title {
  text-align: center;
  margin-top: 600px;
  color: #ff9bb9;
  font-size: 24px;
  line-height: 29px;
}
/*------ project1 -------- */
#section3 {
  height: 900px;
  width: 100%;
  position: relative;
}
.portfolio.project1 {
  padding: 0;
  height: 600px;
  position: relative;
  top: 0;
  margin-top: 100px;
}

.project1 h2 {
  margin-left: 150px;
  margin-top: 100px;
  color: #ff9bb9;
  font-size: 18px;
  font-weight: 100;
  z-index: 999;
}
.project1 .left {
  position: absolute;
  margin-left: 150px;
}
.project1 .right {
  position: absolute;
}
.mockup {
  width: 570px;
  height: 500px;
  position: relative;
  top: 30px;
  right: -870px;
}
.mockup .computer {
  position: absolute;
  width: 100%;
}
.mockup a.hidden {
  display: block;
  width: 538px;
  height: 306px;
  position: absolute;
  overflow: hidden;
  top: 11px;
  right: 11px;
}
.hidden img {
  position: relative;
  width: 100%;
}
.phone {
  position: absolute;
  top: 149px;
  left: -273px;
  width: 505px;
}
.mobile {
  width: 150px;
  position: relative;
  height: 100px;
}
.mobile_hidden {
  display: block;
  position: absolute;
  width: 88%;
  overflow: hidden;
  left: -84px;
  top: 201px;
  height: 286px;
  border-radius: 15px;
}

.mobile_img {
  width: 100%;
}
.desc {
  width: 431px;
  color: #777777;
  letter-spacing: 1.5px;
  line-height: 1.89rem;
  padding: 15px 0;
  margin-bottom: 100px;
}
.desc .pr_ifo {
  color: #777777;
  margin: 40px 0;
}
.desc .pr_ifo span {
  color: #ff9bb9;
  font-weight: 700;
  font-size: 18px;
}

h3 {
  font-size: 36px;
}
a {
  text-decoration: none;
}
.project1 .left::before {
  content: "";
  display: block;
  position: absolute;
  left: 200px;
  top: -100px;
  background: url(../images/kaeri.png) no-repeat;
  width: 300px;
  height: 300px;
  background-size: 100%;
  opacity: 0.2;
  z-index: -1;
}
.portfolio .left a span {
  background: linear-gradient(to bottom right, #ff9587, #ff4f8c);
  border-radius: 50px;
  line-height: 28px;
  width: 118px;
  height: 30px;
  color: #fff;
  padding: 20px 28px;
  margin-right: 10px;
  margin-top: 60px;
  transition: all 0.2s;
}
.portfolio .left a.pr1_git {
  background: linear-gradient(to bottom right, #ff9587, #ff4f8c);
  border-radius: 50px;
  width: 100px;
  height: 30px;
  padding: 20px 28px;
  color: #fff;
  box-shadow: 0 0 3px #f6cdcd;
  transition: all 0.2s;
}
.portfolio .left a.pr1_git:hover {
  background: linear-gradient(to bottom right, #ff4f8c, #faaba1);
  color: #fff;
  cursor: pointer;
}
.portfolio .left a span:hover {
  background: linear-gradient(to bottom right, #ff4f8c, #faaba1);
  font-weight: bold;
  cursor: pointer;
}
.portfolio .left a span.style {
  margin-left: 20px;
}
.project1::before {
  content: "";
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255)
  );
  box-shadow: 25px 12px 50px #f4f4f4, -25px -25px 50px #f7f6f6;
  position: absolute;
  width: 90%;
  height: 760px;
  margin: auto;
  left: 6%;
  top: 3%;
  border-radius: 50px;
}
/*------ project2 -------- */
#section3.project2 {
  position: relative;
  top: 100px;
}
.project2::before {
  content: "";
  background: #fff;
  box-shadow: 25px 12px 50px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 90%;
  height: 760px;
  margin: auto;
  left: 6%;
  top: -15%;
  border-radius: 50px;
}
.project2 .left {
  position: absolute;
  top: 0px;
  margin-left: 150px;
}
.project2 .left::before {
  content: "";
  position: absolute;
  top: -30px;
  display: block;
  background: url(../images/nikelogo.png) no-repeat;
  width: 300px;
  height: 300px;
  z-index: 1;
  opacity: 0.1;
  left: 100px;
}
.project2 .maple::before {
  content: "";
  position: absolute;
  top: -50px;
  display: block;
  background: url(../images/maples_logo.png) no-repeat;
  width: 300px;
  height: 400px;
  background-size: 100%;
  z-index: 1;
  opacity: 0.06;
  left: 100px;
}
.project2 .right {
  position: absolute;
  top: 0;
}
.project2 h2 {
  color: #ff9bb9;
  font-size: 18px;
  font-weight: 100;
  margin-left: 150px;
  top: -125px;
  position: absolute;
}
.ipad {
  position: relative;
  width: 300px;
  height: 360px;
}
.ipad .tablet {
  position: absolute;
  left: 400px;
  top: 60px;
  width: 300px;
  z-index: 99;
}
.ipad .ip_hidden {
  position: absolute;
  width: 230px;
  left: 430px;
  z-index: 99;
  top: 79px;
  overflow: hidden;
  height: 300px;
  border-radius: 10px 0;
}
.ipad_img {
  width: 100%;
}
.left .git {
  position: relative;
  left: 0px;
  top: 0px;
  background: linear-gradient(145deg, #f4dbdb, #ffffff);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: #fff;
  padding: 10px 12px;
  box-shadow: 25px 12px 50px #f6cdcd, -25px -25px 50px #ffffff;
  color: #d32e72;
  font-size: 1.5rem;
}


.project3 span.style,
.project3 span.site {
  background: linear-gradient(to bottom right, #ff4f8c, #faaba1);
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0 0 3px #f6cdcd;
  cursor: pointer;
  transition: all .2s;
  display: inline-block;
}
.project3 span.style:hover {
  background: linear-gradient(to bottom right, #ff9587, #ff4f8c);
  cursor: pointer;
}
.project3 span.site:hover {
  background: linear-gradient(to bottom right, #ff9587, #ff4f8c);
  cursor: pointer;
}

/*///////////////////////section4//////////////////////////*/
#section4 {
  width: 100%;
  height: 840px;
  background: #fff;
  margin-top: 315px;
  position: relative;
  top: 0;
}

main h3 {
  color: #050a45;
  font-size: 36px;
}

#section4 h3 {
  padding-top: 30px;
  font-size: 18px;
  color: #ff9bb9;
  font-weight: 100;
}
.mobile_ux img {
  width: 320px;
  margin: 80px 0;
}
.mobile_ux .ux_mockup1 {
  margin-left: 180px;
  margin-top: 100px;
}
.mobile_ux .ux_mockup2 {
  width: 706px;
  position: absolute;
  left: 330px;
  top: -30px;
}

.iframe {
  display: block;
  position: absolute;
  width: 241px;
  height: 580px;
}
.mobile_ux .ux01::after {
  content: "직접 클릭 해 보세요 !";
  position: absolute;
  left: 160px;
  color: #f6cdcd;
}
/*////black*/
.mobile_ux .black {
  position: relative;
  width: 420px;
  height: 578px;
  overflow: hidden;
  background: url(../images/mobile_mockup.png) no-repeat;
  background-size: 100%;
  left: 8%;
  top: 60px;
}

.mobile_ux .ux01 > * {
  position: absolute;
  top: 0px;
  left: 90px;
  overflow: hidden;
  margin-left: 10px;
}
iframe {
  width: 240px;
  height: 530px;
  left: 825px;
  border-radius: 30px;
  top: -300px;
  z-index: 99;
  margin-top: 28px;
  margin-left: 89px;
  display: block;
}

/*////white*/
.mobile_ux .white {
  position: relative;
  width: 400px;
  height: 500px;
  overflow: hidden;
  background-size: 200%;
  background-position: center center;
  left: 30%;
  top: -430px;
  z-index: 9999999;
}
.mobile_ux .ux02 > * {
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
  width: 300px;
}
.mobile_ux .ux02 img {
  width: 246px;
  left: 120px;
  top: -80px;
  border-radius: 30px;
}

.uxui .right {
  position: absolute;
  left: 950px;
  top: 80px;
}
.slideWrap .ott::before {
  content: "";
  position: absolute;
  left: 100px;
  top: -40px;
  background: url(../images/project-ux2-01.png) no-repeat;
  display: block;
  background-size: 100%;
  width: 300px;
  height: 300px;
  z-index: -9;
  opacity: 0.4;
}
.slideWrap .frity::before {
  content: "";
  position: absolute;
  left: 100px;
  top: -40px;
  background: url(../images/fruity-01.png) no-repeat;
  display: block;
  background-size: 100%;
  width: 300px;
  height: 300px;
  z-index: -9;
  opacity: 0.4;
}
.slideWrap .bird::before {
  content: "";
  position: absolute;
  left: 100px;
  top: -40px;
  background: url(../images/forbird.png) no-repeat;
  display: block;
  background-size: 100%;
  width: 300px;
  height: 300px;
  z-index: -9;
  opacity: 0.1;
}
.uxui .right h3 {
  color: #050a45;
}
/*///////////////////////section5//////////////////////////*/

/* design */

.design > .container {
  width: 90%;
  height: 600px;
  max-width: 2100px;
  margin: 25px 5%;
  position: relative;
  float: left;
}
.design > .container .imgBox {
  width: 100%;
  height: 500px;
  position: relative;
  top: 30px;
}
.imgBox .right {
  right: 0px;
}
.design > .container .page {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -340px;
  width: 700px;
  height: 600px;
}
.design > .container .view {
  overflow: hidden;
  position: absolute;
  width: 0%;
  height: 500px;
}
.imgBox .page .on {
  width: 100%;
}

.imgBox .page .view img {
  position: absolute;
  width: 700px;
  top: 0;
}
.imgBox .page .view .cation {
  background: linear-gradient(
    to bottom right,
    rgba(254, 189, 207, 0.4),
    #fa91b6
  );
  position: absolute;
  top: 300px;
  color: #fff;
  padding: 30px;
  border-radius: 30px 0 30px 0;
  box-shadow: 3px 3px 4px #fa91b6;
  transition: all 0.2s;
  font-size: 1.5em;
}
.imgBox .page .view .cation::after {
  content: "";
  background: url(../images/p_more.png) no-repeat center center;
  width: 18px;
  height: 18px;
  display: block;
  transition: all 0.3s;
  position: absolute;
  bottom: 60px;
  right: 23px;
}
.imgBox .page .view .cation .de_sub a {
  color: #fff;
}
.imgBox .page .view .cation:hover {
  background: linear-gradient(
    to bottom right,
    rgba(254, 189, 207, 0.9),
    #ff4f8c
  );
}
#section5 .imgBox .btn_img a {
  position: absolute;
  text-transform: uppercase;
  color: rgba(254, 189, 207, 0.3);
  font-weight: bold;
  border: 1px solid rgba(254, 189, 207, 0.3);
  border-radius: 30px 0;
  box-shadow: 0px 0px 10px rgba(250, 145, 182, 0.3);
  padding: 10px 20px;
}
#section5 .imgBox .btn_img a:hover {
  color: #fa91b6;
}
#section5 .imgBox .btn_img .img_prev {
  left: 100px;
  top: 40%;
  transform: rotate(-90deg);
}
#section5 .imgBox .btn_img .img_next {
  right: 100px;
  top: 40%;
  transform: rotate(90deg);
}
#section5 .imgBox .btn_bt {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -42.5px;
  z-index: 999999;
}
#section5 .imgBox .btn_bt a {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 20px;
  background: #f6cdcd;
  border-radius: 50%;
}
#section5 .imgBox .btn_bt a.on {
  background: #ff4f8c;
  box-sizing: border-box;
}

.portfolio .right a span {
  background: linear-gradient(to bottom right, #ff9587, #ff4f8c);
  border-radius: 50px;

  color: #fff;
  padding: 15px 28px;
  margin-right: 10px;
  margin-top: 120px;
  letter-spacing: -1.2px;
  line-height: 32px;
}
.portfolio .right a span:hover {
  background: linear-gradient(to bottom right, #ff4f8c, #ff9587);
  font-weight: bold;
  transition: all 0.5s;
}

#section4 .right h3 {
  color: #050a45;
  font-size: 2em;
  font-weight: bold;
}
#section4 .style {
  position: absolute;
  top: 320px;
}
#section4 .site {
  position: absolute;
  top: 320px;
  right: 90px;
}

/*///////////////////////footer//////////////////////////*/
footer .contact_wrap {
  top: 60px;
  position: absolute;
  display: flex;
}
footer .contact_wrap .mark {
  position: absolute;
  left: 1400px;
  padding: 30px;
}
footer .contact_wrap a {
  color: #fff;
}
footer p {
  position: relative;
  bottom: 0;
  color: #a3a3a3;
}
footer {
  width: 100%;
  height: 200px;
  background: #f8f6f7;
  position: relative;
  bottom: -800px;
}
.contact_wrap span.cont {
  background: linear-gradient(to bottom right, #ff9587, #ff4f8c);
  border-radius: 50px;
  padding: 10px 30px;
  height: 30px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  float: left;
  line-height: 30px;
  position: absolute;
  z-index: 99;
  top: 0px;
  left: 0;
  margin-left: 100px;
}
.contact_wrap span.cont:hover {
  background: linear-gradient(to bottom right, #ff4f8c, #ff9587);
  font-weight: bold;
  transition: all 0.5s;
}
.contact_wrap .contacts {
  float: left;
  position: absolute;
  left: 500px;
  display: flex;

}
.mail {
  margin-top: 9px;
  margin-right: 100px;
  color: #333333;
  letter-spacing: 2px;
}
.contacts .mail span {
  color: #ff9bb9;
}
.contacts .phone_number{
  margin-right: 100px;
}
/*slider*/
.uxui .bx-controls {
  position: relative;
  top: 0;
  left: 50%;
}
.bx-controls-direction {
  position: absolute;
  top: -790px;
}
.bx-controls-direction a {
  color: #ff9bb9;
  font-size: 2em;
  background-color: rgba(254, 189, 207, 0.4);
  padding: 20px 30px;
  border-radius: 50%;
}
.bx-controls-direction a.bx-next {
  position: absolute;
  right: -785px;
  color: #ff9bb9;
}
.bx-controls-direction a.bx-prev {
  position: absolute;
  right: 730px;
}
.bx-pager {
  position: relative;
  top: 0;
}
.bx-pager .bx-pager-item {
  position: absolute;
  background-color: #cfcfd0;
  border-radius: 50%;
  padding: 0 4px;
}
.bx-pager .bx-pager-item a {
  color: #cfcfd0;
}
.bx-pager .bx-pager-item a:hover {
  color: #ff9bb9;
  background-color: #ff9bb9;
  border-radius: 50%;
  padding: 0 4px;
}
.bx-pager .bx-pager-item:nth-child(1) {
  left: -30px;
}
.bx-pager .bx-pager-item:nth-child(3) {
  left: 30px;
}
/*탑버튼*/
#back-to-top {
  position: fixed;
  bottom: 3em;
  right: 3em;

  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  text-decoration: none;
  font-size: 0.8em;
  transition: all 0.3s ease-in;
  opacity: 0;
  padding: 1.4em 1em;
  z-index: 9999999;
  border-radius: 50%;
  color: #f6cdcd;
  text-transform: uppercase;
}
#back-to-top.visible {
  opacity: 1;
}
#back-to-top:hover {
  background-color: #ff9bb9;
  padding: 1.4em 1em;
}

.side_nav ul {
  list-style: none;
}
.side_nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  z-index: 999999;
}
.side_nav_wrap {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.side_nav_wrap .sns a {
  padding: 15px 15px;
  background: rgba(255, 153, 184, 0.7);
  font-size: 1.5rem;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: -0.03571em;
  border-radius: 50%;
  display: block;
  margin: 5px 5px 5px 0;
}
.side_nav_wrap .sns a:hover {
  color: #fff;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    background-position: center top;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -moz-background-size: 75% auto;
    -o-background-size: 75% auto;
    -webkit-background-size: 75% auto;
    background-size: 75% auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background-position: center bottom;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 0;
    background-position: center top;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -moz-background-size: 75% auto;
    -o-background-size: 75% auto;
    -webkit-background-size: 75% auto;
    background-size: 75% auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background-position: center bottom;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
}
@-ms-keyframes pulse {
  0% {
    opacity: 0;
    background-position: center top;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -moz-background-size: 75% auto;
    -o-background-size: 75% auto;
    -webkit-background-size: 75% auto;
    background-size: 75% auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background-position: center bottom;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    background-position: center top;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -moz-background-size: 75% auto;
    -o-background-size: 75% auto;
    -webkit-background-size: 75% auto;
    background-size: 75% auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background-position: center bottom;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
}

.scroll-down {
  margin: 0;
  border: 2px solid #fff;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 57px;
  height: 57px;
  margin-left: -50px;
  margin-top: 282px;
}
.scroll-down a {
  display: block;
  opacity: 0;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  line-height: 0;
  font-size: 0;
  color: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  -moz-background-size: 0 auto;
  -o-background-size: 0 auto;
  -webkit-background-size: 0 auto;
  background-size: 0 auto;
  -webkit-animation: pulse 1.5s 0s infinite normal ease forwards;
  -moz-animation: pulse 1.5s 0s infinite normal ease forwards;
  -o-animation: pulse 1.5s 0s infinite normal ease forwards;
  animation: pulse 1.5s 0s infinite normal ease forwards;
  background-image: url("https://jamesmuspratt.com/codepen/img/arrow-down.svg");
  background-repeat: no-repeat;
}
.scroll-down a:before,
.scroll-down a:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("https://jamesmuspratt.com/codepen/img/arrow-down.svg")
    no-repeat center top;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.scroll-down a:before {
  -webkit-animation: pulse 1.5s 0.25s infinite normal ease forwards;
  -moz-animation: pulse 1.5s 0.25s infinite normal ease forwards;
  -o-animation: pulse 1.5s 0.25s infinite normal ease forwards;
  animation: pulse 1.5s 0.25s infinite normal ease forwards;
}
.scroll-down a:after {
  -webkit-animation: pulse 1.5s 0.5s infinite normal ease forwards;
  -moz-animation: pulse 1.5s 0.5s infinite normal ease forwards;
  -o-animation: pulse 1.5s 0.5s infinite normal ease forwards;
  animation: pulse 1.5s 0.5s infinite normal ease forwards;
}
.scroll-down a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
